body {
	margin: 0;
	overflow: hidden;
}
.sphere {
	fill: #eaeaea;
}
.country {
	stroke: #ffffff;
	stroke-width: 0.05px;
}
.country:hover {
	fill: #728f5d;
}
.highlighted {
	stroke-width: 0.5px;
}
.tick text, .title-legend {
	font-size: 1.3em;
	fill: #444444;
	font-family: sans-serif;
}
.tick circle, .country-circle {
	fill: black;
	fill-opacity: 0.6;
	stroke: black;
	stroke-width: 0.1;
}
.tick text {
	cursor: pointer;
}
.country-circle {
	pointer-events: none;
}
